*{
  border: 0px solid red;
}

html{
  font-size: 12px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  flex: 1 1 20%;
}

header,
footer{
  background-color: #1F2937;
  width: 100%;
}

header{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px;
}

footer{
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  height: 6rem;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  color: #E5E7EB;
  text-decoration: none;
}

.head{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo{
  display: flex;
  color: #F9FAF8;
  font-size: 2rem;
  align-items: center;
  flex: 1 0 auto;
  margin-left: 50px;
}

.link1, .link2,
.link3, .copyright{
  display: flex;
  padding: 0.25rem;
  font-size: calc(1rem + 6px);
  color: #E5E7EB;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  gap: 10px;
}

.head-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.content-text{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 7px;
  margin-right: 50px;
}

.title{
  font-size: 4rem;
  width: 35vmax;
  color: #F9FAF8;
  font-weight: bolder;
  text-align: justify;
}

.sign-up,
.sign-up3{
  background-color: rgba(19, 19, 207, 0.74);
  color: #F9FAF8;
  border-radius: 5px;
}

.text{
  display: flex;
  width: 35vmax;
  font-size: calc(1rem + 6px);
  color: #E5E7EB;
  text-align: justify;
}

.head-image{
  width: 400px;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.subtitle{
  font-size: 3rem;
  font-weight: bolder;
  color: #1F2937;
  margin-bottom: 20px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

img{
  border: 1px solid blue;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.text-info{
  text-align: center;
  font-size: 1.3rem;
}

.block2{
  display: flex;
  background-color: #E5E7EB;
  padding: 50px 0px;
  justify-content: center;
}

.cont-block2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  width: 60vmax;
}

.quote{
  font-size: 3rem;
  text-align: justify;
  color: #1f2937;
  
}

.autor{
  font-weight: bold;
  font-size: 1.5rem;
}

.block3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.cont-block3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  background-color: rgba(49, 177, 194, 0.781);
  padding: 30px;
  border-radius: 5px;
}

.subtitle3{
  font-size: 1.7rem; 
  color: #1F2937;
  font-weight: bold;
}

.text3{
  font-size: 1.3rem;
  color: #1F2937;
}

.sign-up3{
  margin-left: 25px;
  border: 1px solid whitesmoke;
}